<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Confirmation</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

	<style>
		.dateText {

			border-top: 5px solid red;
			padding-top: 5px;
			margin-top: 15px;

		}
	</style>
</head>

<body>
	<div class="alert alert-success">
		<span th:text="${title}"></span>
	</div>
	<h5 class="dateText" th:text="${today}"></h5>
	
	<div>
		<img th:src="${image1}" />
	</div>
</body>


</html>